<template>
	<div>
		<el-button @click="goPrice">比價清單</el-button>
		<div class="schart-box">
			<div class="content-title">折線圖</div>
			<schart class="schart" canvasId="line" :options="query"></schart>
		</div>
	</div>
</template>

<script>
import Schart from "vue-schart";
export default {
	name: "ChartPage",
	components: {
		Schart,
	},
	data() {
		return {
			query: {},
		};
	},
	created() {
		this.query = this.$route.query;
	},
	methods: {
		goPrice() {
			this.$router.push({ path: "/" });
		},
	},
};
</script>

<style scoped>
.schart-box {
	margin: 20px;
}
.schart {
	width: 600px;
	height: 400px;
}
.content-title {
	clear: both;
	font-weight: 400;
	line-height: 50px;
	margin: 10px 0;
	font-size: 22px;
	color: #1f2f3d;
}
</style>
