<template>
  <div>
    <div class="container">
      <h1>Hello World!</h1>
      <div>
        <label v-if="loginStatus">登入囉!</label>
        <label v-else>還沒登入哦</label>
      </div>
      <el-button
        class="btn-register"
        type="primary"
        @click="handleRegister"
        icon="el-icon-plus"
        >註冊</el-button
      >
      <el-button
        class="btn-login"
        v-if="loginStatus"
        type="primary"
        @click="saveLogout"
        icon="el-icon-plus"
        >登出</el-button
      >
      <el-button
        v-else
        class="btn-login"
        type="primary"
        @click="handleLogin"
        icon="el-icon-plus"
        >登入</el-button
      >
      <div></div>
    </div>
    <el-dialog title="註冊帳號" :visible.sync="registerVisible" width="30%">
      <el-form ref="form" :model="registerForm" label-width="70px">
        <el-form-item label="電子信箱">
          <el-input v-model="registerForm.email"></el-input>
        </el-form-item>
        <el-form-item label="姓名">
          <el-input v-model="registerForm.name"></el-input>
        </el-form-item>
        <el-form-item label="密碼">
          <el-input v-model="registerForm.password"></el-input>
        </el-form-item>
        <el-form-item label="密碼確認">
          <el-input v-model="registerForm.passwordConfirm"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="handleRegister">取消</el-button>
        <el-button @click="saveRegister" type="primary">確定</el-button>
      </span>
    </el-dialog>

    <el-dialog title="登入" :visible.sync="loginVisible" width="30%">
      <el-form ref="form" :model="loginForm" label-width="70px">
        <el-form-item label="電子信箱">
          <el-input v-model="loginForm.email"></el-input>
        </el-form-item>
        <el-form-item label="密碼">
          <el-input v-model="loginForm.password"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="handleLogin">取消</el-button>
        <el-button @click="saveLogin" type="primary">確定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { login } from "../api";
import { logout } from "../api";
import { register } from "../api";
// import { testSession } from "../api";

export default {
  name: "home",
  data() {
    return {
      registerVisible: false,
      loginVisible: false,
      registerForm: {},
      loginForm: {},
      loginStatus: 0,
    };
  },
  created() {
    // this.init();
  },
  methods: {
    init() {
      if (localStorage.getItem("loginStatus") === null) {
        localStorage.setItem("loginStatus", 0);
      }
      this.loginStatus = localStorage.getItem("loginStatus");
    },
    chengeShow() {
      this.loginStatus = !this.loginStatus;
      console.log(this.loginStatus);
    },
    testSe() {
      // testSession("abcd").then((res) => {
      //   console.log(res.data);
      // });
      // console.log("1234");
      localStorage.setItem("a", 123);
      console.log(localStorage.getItem("a"));
      console.log(localStorage.getItem("b"));
    },

    testbut() {},
    handleRegister() {
      this.registerVisible = !this.registerVisible;
    },
    handleLogin() {
      this.loginVisible = !this.loginVisible;
    },
    saveRegister() {
      // 驗證兩次密碼是否一致
      if (this.registerForm.password != this.registerForm.passwordConfirm) {
        alert("Password Confirm Error");
        return;
      }

      // 建立request-body
      const sendData = {
        email: this.registerForm.email,
        name: this.registerForm.name,
        password: this.registerForm.password,
      };

      // 呼叫api
      register(sendData)
        .then((response) => {
          if (response.status === 200) {
            this.handleRegister();
            this.registerForm = {};
            alert(response.data.message);
          } else {
            console.log("1234", response);
            // alert('This Email has registered.');
            this.registerForm = {};
          }
          console.log("1234314");
        })
        .catch((err) => {
          this.handleRegister();
          this.registerForm = {};
          alert(err);
        });
    },
    saveLogin() {
      // 建立body
      const sendData = {
        email: this.loginForm.email,
        password: this.loginForm.password,
      };
      // 呼叫api
      login(sendData)
        .then((response) => {
          // 呼叫成功
          if (response.status === 200) {
            this.handleLogin();
            localStorage.setItem("email", this.loginForm.email);
            this.loginForm = {};
            localStorage.setItem("loginStatus", true);
            this.loginStatus = !this.loginStatus;
            alert(response.data.message);
          } else {
            // 呼叫成功但登入失敗的情況
            this.handleLogin();
            this.loginForm = {};
            alert(response.data.message);
          }
        })
        .catch((error) => {
          console.log("err", error);
        });
    },
    saveLogout() {
      localStorage.setItem("loginStatus", false);
      const sendData = {
        email: localStorage.getItem("email"),
      };
      logout(sendData).then((resp) => {
        if (resp.status === 200) {
          localStorage.setItem("email", "");
          this.loginStatus = !this.loginStatus;
          localStorage.setItem("loginStatus", false);
          alert(resp.data.message);
        } else {
          console.log(resp.data);
        }
      });
    },
  },
};
</script>
