<template>
	<div>
		<el-button @click="goPrice">比價清單</el-button>
		<Note :item="query"> </Note>
	</div>
</template>

<script>
import Note from "../components/Note";
export default {
	name: "NotePage",
	components: {
		Note,
	},
	data() {
		return {
			query: [],
		};
	},
	created() {
		this.query = this.$route.query;
	},
	methods: {
		goPrice() {
			this.$router.push({ path: "/" });
		},
	},
};
</script>
