<template>
	<div class="container">
		<div class="note-container" v-for="item in item" :key="item.id">
			<div class="note-name">{{ item.name }}</div>
			<div class="note-time">{{ item.time }}</div>
			<div class="note-total">總數：{{ item.total }}</div>
			<div class="note-price">總價：{{ item.price }}</div>
		</div>
	</div>
</template>
<script>

export default {
	props: {
		item: {
			required: true,
		},
	},
	name: "Note",
	created() {
	},
	data() {
		return {};
	},
};
</script>
<style scoped>
.note-container {
	margin-top: 3px;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(0, 102, 255);
	width: 10%;
}
.note-name {
	text-align: center;
	background-color: rgb(0, 102, 255);
	color: #fff;
}
.note-time {
	text-align: right;
	font-size: 12px;
	margin-right: 2px;
}
</style>
