<template>
	<div>
		<div class="container">
			<div class="handle-box">
				<el-button
					@click="addPrice"
					type="primary"
					icon="el-icon-plus"
					class="handle-plus mr10"
					>新增品牌</el-button
				>
			</div>
			<el-table
				:data="showData"
				border
				class="table"
				@selection-change="handleSelectionChange"
			>
				<el-table-column
					type="selection"
					width="50"
					align="center"
				></el-table-column>
				<el-table-column
					prop="id"
					label="#"
					width="50"
					align="center"
				></el-table-column>
				<el-table-column
					prop="name"
					label="品牌名稱"
					align="center"
				></el-table-column>
				<el-table-column
					prop="total"
					label="總數"
					align="center"
				></el-table-column>
				<el-table-column
					prop="price"
					label="總金額"
					align="center"
				></el-table-column>
				<el-table-column
					prop="unitPrice"
					label="計算單價"
					align="center"
					width="70px"
				></el-table-column>
				<el-table-column
					prop="time"
					label="時間"
					align="center"
				></el-table-column>
				<el-table-column label="操作" width="150" align="center">
					<template slot-scope="scope">
						<el-button
							type="text"
							icon="el-icon-edit"
							@click="handleEdit(scope.$index, scope.row)"
							>編輯</el-button
						>
						<el-button
							type="text"
							icon="el-icon-delete"
							@click="handleDelete(scope.$index)"
							>刪除</el-button
						>
					</template>
				</el-table-column>
			</el-table>
			<div class="pagination">
				<el-pagination
					background
					layout="total,prev,pager,next"
					:current-page="query.pageIndex"
					:page-size="query.pageSize"
					:total="query.pageTotal"
					@current-change="handlePageChange"
				></el-pagination>
			</div>
			<div>
				<el-button type="primary" class="button-note" @click="generateNote"
					>產生便條紙</el-button
				>
				<el-button type="primary" @click="generateChart">產生圖表</el-button>
			</div>
			<el-dialog title="編輯" :visible.sync="editVisible" width="30%">
				<el-form ref="form" :model="editForm" label-width="70px">
					<el-form-item label="品牌名稱">
						<el-input v-model="editForm.name"></el-input>
					</el-form-item>
					<el-form-item label="總數">
						<el-input v-model="editForm.total"></el-input>
					</el-form-item>
					<el-form-item label="總金額">
						<el-input v-model="editForm.price"></el-input>
					</el-form-item>
				</el-form>
				<span slot="footer" class="dialog-footer">
					<el-button @click="cancelEdit">取消</el-button>
					<el-button type="primary" @click="saveEdit">確定</el-button>
				</span>
			</el-dialog>

			<el-dialog title="新增" :visible.sync="addPriceVisible" width="30%">
				<el-form ref="form" :model="addForm" label-width="70px">
					<el-form-item label="品牌名稱">
						<el-input
							v-model="addForm.name"
							placeholder="請輸入品牌名稱"
						></el-input>
					</el-form-item>

					<el-form-item label="總金額">
						<el-input v-model="addForm.price" type="number"></el-input>
					</el-form-item>
					<el-form-item label="總數">
						<el-input v-model="addForm.total" type="number"></el-input>
					</el-form-item>
				</el-form>
				<span slot="footer" class="dialog-footer">
					<el-button @click="cancelAdd">取消</el-button>
					<el-button type="primary" @click="saveAdd">確定</el-button>
				</span>
			</el-dialog>
		</div>
	</div>
</template>

<script>
import moment from "moment";
export default {
	name: "price",

	data() {
		return {
			query: {
				pageIndex: 1,
				pageSize: 10,
				pageTotal: 12,
			},
			multipleSelection: [],
			editVisible: false,
			addPriceVisible: false,
			license_num: 0,
			editForm: { id: "", name: "", price: 0, total: 0 },
			tempEdit: { id: "", name: "", price: 0, total: 0 },
			addForm: {
				id: "",
				name: "",
				price: 0,
				total: 0,
			},
			nameList: ["A", "B"],
			showData: [],
			tableData: [
				{
					id: 1,
					name: "A",
					total: 10,
					price: 100,
					unitPrice: 10,
					time: "2021-04-20 00:00:00",
				},
				{
					id: 2,
					name: "B",
					total: 20,
					price: 100,
					unitPrice: 5,
					time: "2021-04-21 00:00:00",
				},
				{
					id: 3,
					name: "A",
					total: 10,
					price: 1000,
					unitPrice: 100,
					time: "2021-04-22 00:00:00",
				},
				{
					id: 4,
					name: "B",
					total: 10,
					price: 120,
					unitPrice: 12,
					time: "2021-04-23 00:00:00",
				},
				{
					id: 5,
					name: "A",
					total: 10,
					price: 160,
					unitPrice: 16,
					time: "2021-04-24 00:00:00",
				},
			],
		};
	},
	created() {
		this.query.pageTotal = this.tableData.length;
		if (this.query.pageIndex === 1) {
			this.showData = this.tableData.slice(0, 10);
		}
	},
	methods: {
		handleSelectionChange(val) {
			this.multipleSelection = val;
		},
		handlePageChange(val) {
			this.$set(this.query, "pageIndex", val);
			if (this.tableData.length % 10 === 0) {
				//沒餘數直接抓
				this.showData = this.tableData.slice((val - 1) * 10, val * 10);
			} else if (val > this.tableData.length / 10) {
				//有餘數 最後一頁抓剩下
				this.showData = this.tableData.slice(
					(val - 1) * 10,
					(val - 1) * 10 + (this.tableData.length % 10)
				);
			} else {
				//有餘數 最後一頁前直接顯示
				this.showData = this.tableData.slice((val - 1) * 10, val * 10);
			}
		},

		handleDelete(index) {
			this.$confirm("確定刪除？", "提示", {
				type: "warning",
			})
				.then(() => {
					this.tableData.splice(index, 1);
					this.handlePageChange(this.query.pageIndex); //重整清單
				})
				.catch(() => {});
		},

		handleEdit(index, row) {
			this.idx = index;
			this.editForm = row;
			this.tempEdit = this.editForm;
			this.editVisible = true;
		},
		saveEdit() {
			this.editVisible = false;
			this.$set(this.tableData, this.idx, this.editForm);
			console.log("temp", this.tempEdit);
			console.log("eF", this.editForm);
		},
		cancelEdit() {
			this.editVisible = false;
			this.$set(this.tableData, this.idx, this.tempEdit);
			console.log("temp", this.tempEdit);
			console.log("eF", this.editForm);
		},
		addPrice() {
			this.addPriceVisible = true;
			this.addForm = {
				id: "",
				name: "",
				price: 0,
				total: 0,
			};
		},
		cancelAdd() {
			this.addPriceVisible = false;
		},
		saveAdd() {
			this.addPriceVisible = false;
			if (this.tableData.length == 0) {
				this.addForm.id = 1;
			} else {
				this.addForm.id = this.tableData.length + 1;
			}
			this.addForm.unitPrice = (
				this.addForm.price / this.addForm.total
			).toFixed(1);
			this.addForm.time = moment(new Date()).format("YYYY-MM-DD HH:mm:ss");
			this.addForm.price = parseInt(this.addForm.price);
			this.addForm.total = parseInt(this.addForm.total);
			this.tableData.push(this.addForm);
			this.handlePageChange(this.query.pageIndex); //重整清單

			this.query.pageTotal = this.tableData.length;
			for (var i = 0; i < this.tableData.length; i++) {
				if (this.addForm.name != this.tableData[i].name) {
					this.nameList.push(this.addForm.name);
				}
			}
			console.log("nameList", this.nameList);
		},
		generateNote() {
			if (this.multipleSelection.length > 0) {
				var sendData = this.multipleSelection;
				sendData.forEach((item) => {
					item.time = item.time.substr(0, 10);
				});
				this.$router.push({ path: "/note", query: sendData });
			} else {
				this.$message.error(`尚未選取`);
			}
		},
		generateChart() {
			console.log(this.tableData[0]);
			// var sendArray = [];
			
			var labelsArray = []
			var datasetsArray = []
			for (var i = 0; i < this.tableData.length; i++) {
				console.log(i, this.tableData[i].time.substr(5,5));
				if (this.tableData[i].name === "A") {
					// sendArray.push(this.tableData[i]);
					labelsArray.push(this.tableData[i].time.substr(5,5));
					datasetsArray.push(this.tableData[i].unitPrice);
				}
			}
			console.log(labelsArray)
			console.log(datasetsArray)

			var sendData = {
				type: "line",
				title: {
					text: "A品牌比價",
				},
				bgColor: "#fbfbfb",
				labels: labelsArray,
				datasets: [{
					label:'A',
					data: datasetsArray
				}],
			};
			// console.log(sendData);
			this.$router.push({ path: "/chart", query: sendData });
		},
	},
};
</script>

<style scoped>
.handle-box {
	margin-bottom: 10px;
}
.pagination {
	position: absolute;
	right: 10px;
}
.button-note {
	margin-top: 3px;
}
</style>
